* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #eee;
    display:flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 100px;
    color: transparent;
    background: url("./pattern.png");
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    100% { background-position-x: -100%;}
    
}