@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #2c2c2c;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
span {
    width: 40rem;
    font-size: 5em;
    text-align: center;
    font-family: open sans;
    color: #fff;
    animation: animate 5s linear infinite;
    text-shadow: 0 20px 10px rgb(0,0,0);
}
@keyframes animate {
    0%, 100%
     {
        transform: rotate(20deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}
